@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppings', sans-serif;
    background-image: url('./snow-sun.jpg');
    background-size: cover;
    min-height: 100vh;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1{
    font-size: 4rem;
    font-weight: normal;
    margin: 10px 0;
    color: #fff;
    /*text-shadow:[右偏 下偏 模糊 顏色]*/
    text-shadow: .2rem 0.2rem .3rem #000;
}

.time-unit{
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

}
.big-text{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
}